* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* start header */

.first-thing {
    background-color: #262626;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-thing .div1 {
    margin-left: 20px;
}

.first-thing .div2 button {
    width: 90px;
    height: 30px;
    margin-right: 20px;
    background-color: #79A146;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px;
    
}


@media screen and (min-width: 768px) and (max-width:992px) {
.first-thing .div2 button {
    width: 90px;
    height: 30px;
    margin-right: 165px;
    background-color: #79A146;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px;
}

}

/*end header */
/* start navbar */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #151515;
    width: 100%;
    height: 100px;
    
    
    
}

.nav-left {
    padding: auto;
    
}



.navbar .nav-left h1 {
    color:#59D0B6 ;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.navbar .nav-left p {
    color: white;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    font-stretch: wider;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    letter-spacing: 4px;
}


.nav-right {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
    
    
}








.nav-right a p{
    
    
    margin: 0 20px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-right a i {
    color: #59D0B6;
    margin-top: 20px ;
    padding-left: 20px;
    
}

/* end navbar */
/* start section creative agency */




.sec .parent-div {
    background-image: linear-gradient(to right, #0C0C0C , #1D3631);
    width: 100%;
    height: 100vh;
    position: relative;
}



.sec .parent-div .child-one img {
    max-width: 36.5%;
    height: auto;
    margin-left: 133px;
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 55%;
    

    
}

.sec .parent-div .child-two {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 11%;
    color: #48dab5;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-size:18px ;
}

.sec .parent-div .child-three {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    top: 25%;
    left: 11%;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec .parent-div .child-three .creat {
    margin-left: 25px;
}

.sec .parent-div .child-three .creat h1 {
    color: #56D1B4;
}

.sec .parent-div .child-four {
    color: white;
    position: absolute;
    z-index: 5;
     top: 35%;
     left: 11%;
     font-size: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec .parent-div .child-four hr {
    width: 15%;
    height: 2px;
    margin-top: 7px;
    background-color: #88C6B8;
    border: none;
    
}

.sec .parent-div .child-five p {
    width: 45%;
    font-size: 17px;
    opacity: 0.65;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

.sec .parent-div .child-six i {
    color: white;
    margin-left: 34px;
    margin-top: 25px;
    
   
}

.sec .parent-div .child-six .son-one {
    background-color: #5BD1BA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 60px;
    box-shadow: 0 0 0 .1em #226759;
    position: relative;  
    animation-name: example;
    animation-duration: 10s; 
}

@keyframes example {
    from {background-color: rgb(10, 10, 10);}
    to {background-color: #5bd1ba;}
  }



    

.sec .parent-div .child-six {
    display: flex;
    align-items: center;

}

.sec .parent-div .child-six .son-two {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 14px;
}

.sec .parent-div .child-six .son-two hr {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    margin-top: 25px;
}

.sec .parent-div .child-six .son-two p {
    margin-top: 30px;
    font-weight: bold;
    color: #6abca4;
}


@media screen and (min-width: 768px) and (max-width:992px) {
  
    .parent-div .child-one {
        width: 10%;
    }
  
    .sec .parent-div .child-one img {
        max-width: 40%;
        margin-left: 28px;
        position: absolute;
        z-index: 99;
        top: 219px;
        left: 307px;
    }

.parent-div .child-two {
    position: absolute;
    position: absolute;
    top: 267px;
    font-size: 18px;

    
}

.parent-div .child-two h3 {
    font-size: 18px;
    margin: 84px 0 0 0;
}

.parent-div .child-three h1 {
        font-size: 30px;
        
}

.parent-div .child-three {
    position: absolute;
    top: 291px;
    left: 85px;
}

.sec .parent-div .child-three .creat h1 {
    color: #56D1B4;
    font-size: 22px;

}


    
.sec .parent-div .child-five p {
    width: 50%;
    font-size: 17px;
    opacity: 0.65;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}   

  

  .parent-div .child-three h1 {
    font-size: 40px;
  }

  .parent-div .child-four h1 {
    font-size: 40px;
    margin: 10px 0 20px 0;
  }

  .sec .parent-div .child-six .son-two {
    margin-left: 40px;
    margin-top: 70px;
    font-size: 19px;
}

.sec .parent-div .child-six .son-two h1{
    font-size: 28px;
}

  .sec .parent-div .child-three {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    top: 315px;
    left: 34px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec .parent-div .child-four {
    color: white;
    position: absolute;
    z-index: 5;
    top: 35%;
    left: 38px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

}


/* end section1 */
/* end section 2 */

.section-two {
    background-color: black;
    width: 100%;
    height: 1000px;
}

.section-two .father-one {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

.section-two .father-one .children-one {
    color:#5CCBB2;
    position: absolute;
    top: 220px;
    left: 200px;
    font-size: 13px;
    -family: 'Lucida Sans', 'Lucfontida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
     
}

.section-two .father-one .children-two  {
    display: flex;
    position: absolute;
    top: 270px;
    left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.section-two .father-one .children-two .what {
    color: white;
    font-size: 38px;
    

}

.section-two .father-one .children-two .do {
    color: #5CD3B9;
    font-size: 38px;
    margin-left: 18px;
}

.section-two .father-one .children-three {
    color: white;
    width: 30%;
    position: absolute;
    top: 400px;
    left: 200px;
    opacity: 0.6;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-two .father-one hr {
    position: absolute;
    top: 360px;
    left: 200px;
    width: 6%;
    height: 2px;
    border: none;
    background-color: #69CCB4;
}

.section-two .father-one .children-four p {
    color: white;
    width: 31%;
    position: absolute;
    top: 500px;
    left: 200px;
    opacity: 0.6;
    font-weight: 50;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-two .father-one .children-five button {
    background-color: #5BCFB4;
    color: white;
    padding: 18px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 600px;
    left: 200px;
    border: none;
    width: 8%;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.section-two .father-one .children-five button:hover {
    transform: (1.2);
    width: 10%;
}

 


.section-two .father-two {
    position: relative;
}

.section-two .father-two .baby-one {
    position: absolute;
    top: 140px;
    left: 700px;
    width: 400px;
    height: 300px;
    background-image: linear-gradient( #0C0C0C , #090f0e);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0,0.2)  ,  0 6px 20px 0 rgba(0, 0,0, 0.19);
    transition: all 0.2s ease-out;
}

.section-two .father-two .baby-one:hover {
    transform: (1.2);
    width: 420px;
    height: 320px;
}

.section-two .father-two .baby-two:hover {
    transform: (1.2);
    width: 420px;
    height: 320px;
}

.section-two .father-two .baby-three:hover {
    transform: (1.2);
    width: 420px;
    height: 320px;
}

.section-two .father-two .baby-four:hover {
    transform: (1.2);
    width: 420px;
    height: 320px;
}






.section-two .father-two .baby-one img {
    position: absolute;
    top: 30px;
    left: 130px;
    width: 30%;
}

.section-two .father-two .baby-one h1 {
    position: absolute;
    top: 155px;
    left: 100px;
    font-size: 28px;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section-two .father-two .baby-one p {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
    text-align: center;
    width: 370px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: .7;
    
}

.section-two .father-two .baby-two {
    position: absolute;
    top: 180px;
    left: 1120px;
    width: 400px;
    height: 300px;
    background-image: linear-gradient(to bottom, #0C0C0C , #162925);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0,0.2)  ,  0 6px 20px 0 rgba(0, 0,0, 0.19);
    
}

.section-two .father-two .baby-two img {
    position: absolute;
    top: 30px;
    left: 130px;
    width: 30%;
}

.section-two .father-two .baby-two h1 {
    position: absolute;
    top: 155px;
    left: 100px;
    font-size: 28px;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section-two .father-two .baby-two p {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
    text-align: center;
    width: 370px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: .7;
    
}

.section-two .father-two .baby-three {
    position: absolute;
    top: 460px;
    left: 700px;
    width: 400px;
    height: 300px;
    background-image: linear-gradient(to bottom, #0C0C0C , #162925);
     box-shadow: 0px 4px 8px 0 rgba(0, 0, 0,0.2)  ,  0 6px 20px 0 rgba(0, 0,0, 0.19);
    
}

.section-two .father-two .baby-three img {
    position: absolute;
    top: 30px;
    left: 130px;
    width: 30%;
}

.section-two .father-two .baby-three h1 {
    position: absolute;
    top: 155px;
    left: 100px;
    font-size: 28px;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section-two .father-two .baby-three p {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
    text-align: center;
    width: 370px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: .7;
    
}

.section-two .father-two .baby-four {
    position: absolute;
    top: 500px;
    left: 1120px;
    width: 400px;
    height: 300px;
    background-image: linear-gradient( #0C0C0C , #090f0e);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0,0.2)  ,  0 6px 20px 0 rgba(0, 0,0, 0.19);
    
}

.section-two .father-two .baby-four img {
    position: absolute;
    top: 30px;
    left: 130px;
    width: 30%;
}

.section-two .father-two .baby-four h1 {
    position: absolute;
    top: 155px;
    left: 90px;
    font-size: 28px;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section-two .father-two .baby-four p {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
    text-align: center;
    width: 370px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: .7;
    
}
/* end section two */
/* start section three */

.sec-three {
    background-color:#0C0C0C;
    width: 100%;
    height: 100vh;
    position: relative;
    
}

.sec-three .div-one img {
    position: absolute;
    top: 135.5px;
    left: 200px;
    
}

.sec-three .div-two {
    width: 50%;
    position: absolute;
    top: 120px;
    left: 700px;
    
}

.sec-three .div-two .nono {
    color: white;
    margin-top: 10px;
    width: 70%;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-three .div-two hr {
    background-color: #56D1B4;
    height: 2px;
    border: none;
    width: 11%;
    margin-top: 10px;

}

.sec-three .div-two p {
    color: white;
    margin-top: 15px;
    font-size: 17px;
    opacity: 0.7;
    width: 650px;

}

.sec-three .div-two .nono span {
    color: aqua;
}

.sec-three .div-three {
    position: absolute;
    top: 400px;
    left: 680px;
    display:flex ;
    transition: all 0.2s ease-in;
    opacity: 0.6;
    
}

.sec-three .div-three:hover {
    
    transform: (1.2);
    opacity: 1;
    width: 340px;
}

.sec-three .div-three img {
    width: 120px;
}

.sec-three .div-three h1 {
    color: white;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sec-three .div-three p {
    width: 220px;
    position: absolute;
    top: 55px;
    left: 130px;
    color: white;
    opacity: 0.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sec-three .div-four {
    position: absolute;
    top: 400px;
    left: 1100px;
    display:flex ;
    transition: all 0.2s ease-in;
    opacity: 0.6;
}

.sec-three .div-four:hover {
    
    transform: (1.2);
    opacity: 1;
    width: 340px;
}

.sec-three .div-four img {
    width: 120px;
}

.sec-three .div-four h1 {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 130px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-three .div-four p {
    width: 220px;
    position: absolute;
    top: 55px;
    left: 130px;
    color: white;
    opacity: 0.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* end section three */
/* start section four  */

.sec-four {
    
    background-image:linear-gradient(to left,rgba(9, 13, 11, 0.73), rgba(27, 40, 33, 0.73),hsl(174, 26%, 15%)),
     url('images/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 340px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold; 
    
    
    
    
}


.sec-four div {
   text-align: center;
}


.sec-four img {
    width: 80px;
}

.sec-four div {
    width: 20%;
    
}

.sec-four .div-one {
    position: absolute;
    
    left: 130px;
    opacity: 0.7;
}

.sec-four .div-one:hover {
    
    transform: (1.2);
    opacity: 1;
    width: 340px;
}

.sec-four .div-one .number {
    color: #59D0B6;
    font-size: 30px;
}

.sec-four .div-two {
    position: absolute;
    left:460px;
    opacity: 0.7;

}

.sec-four .div-two:hover {
    
    transform: (1.2);
    opacity: 1;
    width: 340px;
}


.sec-four .div-two .number-two {
    color: #59D0B6;
    font-size: 30px;
}

.sec-four .div-three {
    position: absolute;
    left: 800px;
    z-index: 1;
    opacity: 0.7;

}

.sec-four .div-three:hover {
    
    transform: (1.2);
    opacity: 1;
    width: 340px;
}


.sec-four .div-three .number-three {
    color: #59D0B6;
    font-size: 30px;
}

.sec-four .div-four {
    position: absolute;
    left: 1100px;
    z-index: 1;
    opacity: 0.7;
}

.sec-four .div-four:hover {
    
    transform: (1.2);
    opacity: 1;
    width: 340px;
}


.sec-four .div-four .number-four {
    color: #59D0B6;
    font-size: 30px;
}

.sec-four .div-five img {
    width: 900px;
    position: absolute;
    bottom: 2px;
    right: 1px;
    

}

/* end section four */
/* start section five  */

.sec-five {
    background-color: black;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: relative;
}

.sec-five img {
    width: 60%;
    
    
}

.sec-five .div-one {
    width: 80%;
    position: absolute;
    top: 100px;
    left: 200px;
    
    
}

.sec-five .div-one p {
    width: 60%;
    position: absolute;
    top: 150px;
    font-size: 18px;
    opacity: 0.7;
    
}

.sec-five .div-one .Latest {
    color: #59D0B6;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
}

.sec-five .div-one .Project {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sec-five .div-one .Project span {
    color: #59D0B6;
}

.sec-five .div-one hr {
    width: 6%;
    position: absolute;
    top: 80px;
}

.sec-five .div-two {
    position: absolute;
    top: 440px;
    left: 200px;
    display: flex;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sec-five .div-three {
    position: absolute;
    top: 470px;
    left: 200px;
    display: flex;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sec-five .div-three i {
    color: #56D1B4;
}

.sec-five .div-two i {
    color: #56D1B4;
    
    
}

.sec-five .div-two p {
    
   margin-left: 20px;
}

.sec-five .div-three p {
    
   margin-left: 20px;
}



.sec-five .div-four {
    position: absolute;
    top: 100px;
    left: 950px;
}

.sec-five .div-five {
    display: flex;
    
    width: 40%;
    position: absolute;
    top: 500px;
    left: 190px;
    
}

/* end section five */
/* start section six */


.sec-six {
    background-image:linear-gradient(to right,rgba(9, 13, 11, 0.73), rgba(27, 40, 33, 0.73),hsl(174, 26%, 15%)),
    url('images/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 290px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 130px;

}

.sec-six img {
    width: 200px;
    filter: grayscale(100%);
    
}

/* end section six */
/* start section seven */

.sec-seven {
    background-color: black;
    width: 100%;
    height: 900px;
    color: white;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.sec-seven .div-one {
    position: absolute;
    top: 100px;
    left: 240px;
    width: 430px;
    
}

.sec-seven .div-one h1 {
    position: absolute;
    top: 30px;
    font-size: 40px;
    font-weight: bolder;
}

.sec-seven .div-one h2 {
    font-size: 14px;
    color: #59D0B6;
}

.sec-seven .div-one span {
    color: #59D0B6;
}

.sec-seven .div-two {
    width: 550px;
    position: absolute;
    top: 160px;
    left: 700px;
    opacity: 0.6;
    
}

.sec-seven .div-three {
    display: flex;
    position: absolute;
    top: 300px;
    left:700px ;

}

.sec-seven .div-three h1 {
    position: absolute;
    left: 30px;
    top: 3px;
    width: 350px;
    font-size: 20px;
}

.sec-seven .div-three i {
    position: absolute;
    top: 6px;
}

.sec-seven .div-four {
    display: flex;
    position: absolute;
    top: 340px;
    left: 700px;
}

.sec-seven .div-four h1 {
    position: absolute;
    left: 30px;
    top: 3px;
    width: 350px;
    font-size: 20px;

}

.sec-seven .div-four i {
    position: absolute;
    top: 6px;
}

.sec-seven .div-five {
    position: absolute;
    top: 500px;
    left: 700px;
    
}

.sec-seven .div-five img {
    width: 430px;
    
    
}

.sec-seven .div-five .play-one {
    position: absolute;
    font-size: 60px;
    opacity: 0.8;
    top: 120px;
    right:  190px;
    
    
}

.sec-seven .div-six {
    position: absolute;
    top: 430px;
    left: 230px;
    
}

.sec-seven .div-six img {
    width: 450px;
}

.sec-seven .div-six .play-two {
    position: absolute;
    font-size: 60px;
    opacity: 0.8;
    top: 90px;
    right: 200px;
    
    
    
}

/* end section seven */
/* start section eight */
.sec-eight {
    background-image: url("images/Bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    position: relative;

    
}

.sec-eight div {
    position: absolute;
    top: 100px;
    left: 200px;
}

.sec-eight div h2 {
    position: absolute;
    left: 400px;
    top: 50px;
    width: 200px;
    color: #5BD1BA;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sec-eight div h1 {
    width: 400px;
    position: absolute;
    top: 70px;
    left: 300px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.sec-eight div h1 span {
    color: #5BCFB4;
}

.sec-eight  hr {
    background-color: #5BD1BA;
    border: none;
    height: 2px;
    width: 5%;
    position: absolute;
    top: 240px;
    left: 660px;
   
}

.sec-eight .div2 {
    position: absolute;
    top: 300px;
    left: 380px;
    width: 740px;
    font-weight: 600;
    font-size: 16px;
    opacity: 0.7;
}

/* end section eight */
/* start section nine */


.sec-nine {
    background-image: url('images/Bg-11.jpg');
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.sec-nine .div-one {
    background-color: #151515;
    display: flex;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 120px;
}

.sec-nine .div-one div img {
    position: absolute;
    bottom: 80px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sec-nine .div-one div .child-one {
    position: absolute;
    top: 10px;
    left: 300px;
    
}

.sec-nine .div-one {
box-shadow: 0 1px 0 1px rgb(16, 15, 15)  ,  0px 1px 0px 1px rgb(255, 255, 255);
transition: all 0.2s ease-in;
}

.sec-nine .div-one:hover{
    transform: (1.2);
    width: 520px;
    
}

.sec-nine .div-two {
box-shadow: 0 1px 0 1px rgb(16, 15, 15)  ,  0px 1px 0px 1px rgb(255, 255, 255);
transition: all 0.2s ease-in;
}

.sec-nine .div-two:hover{
    transform: (1.2);
    width: 520px;
    
}

.sec-nine .div-three {
    box-shadow: 0 1px 0 1px rgb(16, 15, 15)  ,  0px 1px 0px 1px rgb(255, 255, 255);
    transition: all 0.2s ease-in;
}
    
    .sec-nine .div-three:hover{
        transform: (1.2);
        width: 520px;
        
}

.sec-nine .div-four {
    box-shadow: 0 1px 0 1px rgb(16, 15, 15)  ,  0px 1px 0px 1px rgb(255, 255, 255);
    transition: all 0.2s ease-in;
}
    
    .sec-nine .div-four:hover{
        transform: (1.2);
        width: 520px;
        
}

.sec-nine .div-one div .child-one h2 {
    position: absolute;
    top: 50px;
    font-size: 16px;
    color: #5BCFB4;
}

.sec-nine .div-one div .child-one p {
    position: absolute;
    top: 130px;
    width: 300px;
    font-size: 18px;
    opacity: 0.7;
}

.sec-nine .div-one div .child-two {
    position: absolute;
    top: 260px;
    left: 280px;
    
    
}

.sec-nine .div-one div .child-two i {
    margin-left: 30px;
    
    
}

.sec-nine .div-two {
    background-color: #151515;
    display: flex;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 750px;
}


.sec-nine .div-two div img {
    position: absolute;
    bottom: 80px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sec-nine .div-two div .child-one {
    position: absolute;
    top: 10px;
    left: 300px;
}


.sec-nine .div-two div .child-one h2 {
    position: absolute;
    top: 50px;
    font-size: 16px;
    color: #5BCFB4;
}

.sec-nine .div-two div .child-one p {
    position: absolute;
    top: 130px;
    width: 300px;
    font-size: 18px;
    opacity: 0.7;
}

.sec-nine .div-two div .child-two {
    position: absolute;
    top: 260px;
    left: 280px;
    
    
}

.sec-nine .div-two div .child-two i {
    margin-left: 30px;
}


.sec-nine .div-three {
    background-color: #151515;
    display: flex;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 430px;
    left: 120px;
}


.sec-nine .div-three div img {
    position: absolute;
    bottom: 80px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sec-nine .div-three div .child-one {
    position: absolute;
    top: 10px;
    left: 300px;
}

.sec-nine .div-three div .child-one h2 {
    position: absolute;
    top: 50px;
    font-size: 16px;
    color: #5BCFB4;
}

.sec-nine .div-three div .child-one p {
    position: absolute;
    top: 130px;
    width: 300px;
    font-size: 18px;
    opacity: 0.7;
}

.sec-nine .div-three div .child-two {
    position: absolute;
    top: 260px;
    left: 280px;
    
    
}

.sec-nine .div-three div .child-two i {
    margin-left: 30px;
    
    
}


.sec-nine .div-four {
    background-color: #151515;
    display: flex;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 430px;
    left: 750px;
}


.sec-nine .div-four div img {
    position: absolute;
    bottom: 80px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sec-nine .div-four div .child-one {
    position: absolute;
    top: 10px;
    left: 300px;
}


.sec-nine .div-four div .child-one h2 {
    position: absolute;
    top: 50px;
    font-size: 16px;
    color: #5BCFB4;
}

.sec-nine .div-four div .child-one p {
    position: absolute;
    top: 130px;
    width: 300px;
    font-size: 18px;
    opacity: 0.7;
}

.sec-nine .div-four div .child-two {
    position: absolute;
    top: 260px;
    left: 280px;
    
    
}

.sec-nine .div-four div .child-two i {
    margin-left: 30px;
}


/* end section nine */
/* start section ten  */

.sec-ten {
    background-color:black;
    width: 100%;
    height: 1500px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
   position: relative;
   
    
}



.sec-ten .child-one h2 {
    position: absolute;
    left: 755px;
    color: #3be9c6;
    font-size: 20px;
    letter-spacing: 2px;
}

.sec-ten .child-one h1 {
    position: absolute;
    top: 30px;
    left:680px ;
    font-size: 40px;
    letter-spacing: 1px;
}

.sec-ten .child-one hr {
    background-color: #5CCBB2;
    width: 4.5%;
    height: 2px;
    border: none;
    position: absolute;
    top:90px ;
    left:770px ;
}


.sec-ten  p {
    position: absolute;
    top: 130px;
    left: 395px;
    width: 830px;
    opacity: 0.7;
    text-align: center;
}





.sec-ten .child-two img {
    width: 350px;
   
    
}

.sec-ten .child-two {
    position: absolute;
    left: 50px;
}

.sec-ten .child-two .photo-one {
    position: absolute;
    top: 200px;
    left: 170px;
}

.sec-ten .child-two .photo-two {
    position: absolute;
    top: 200px;
    left: 550px;
}

.sec-ten .child-two .photo-three {
    position: absolute;
    top: 200px;
    left: 930px;
}

.sec-ten .child-two .photo-four {
    position: absolute;
    top: 580px;
    left: 170px;
}

.sec-ten .child-two .photo-fiv {
    position: absolute;
    top: 580px;
    left: 550px;
}

.sec-ten .child-two .photo-six {
    position: absolute;
    top: 580px;
    left: 930px;
}


.sec-ten .child-two .photo-seven {
    position: absolute;
    top: 970px;
    left: 170px;
}

.sec-ten .child-two .photo-eight {
    position: absolute;
    top: 970px;
    left: 550px;
}

.sec-ten .child-two .photo-nine {
    position: absolute;
    top: 970px;
    left: 930px;
}

.sec-ten .child-one span {
    color: #5BCFB4;
}

/* end section ten */
/* start section eleven */

.sec-eleven {
    background-image:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),
    url('images/adadad1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.sec-eleven .div-one {
    position: absolute;
    top: 190px;
    left: 205px;
    
    
}

.sec-eleven .div-one h1 {
    position: absolute;
    top: 38px;
    width: 350px;
    font-size: 40px;

    
    
}

.sec-eleven .div-one h2 {
    color: #57c6af;
    letter-spacing: 2px;
    font-size: 18px;
}

.sec-eleven .div-one hr {
    background-color: #3be9c6;
    width: 50%;
    height: 2px;
    border: none;
    position: absolute;
    top:100px ;
    left: 4px;

}

.sec-eleven .div-one h1 span {
    color: #5cd2b9;
}

.sec-eleven .div-one p {
    position: absolute;
    width: 590px;
    top: 140px;
    font-size: 18px;
    opacity: 0.7;
}

.sec-eleven .div-one button {
    background-color: #5cd2b9;
    width: 260px;
    border: none;
    font-size: 17.8px;
    font-weight: 300;
    color: white;
    padding: 15px;
    position: absolute;
    top: 250px;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}

.sec-eleven .div-one button:hover {
     transform:scale(1.1);
     letter-spacing: 0.04em;
   
     
     
}

.sec-eleven .div-two {
    background-color: #141414; 
    opacity: 0.6;
    width: 520px;
    height: 250px;
    position: relative;
    top: 200px;
    left: 800px;
}

.sec-eleven .div-two .child-one p  {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 30px;
    left: 15px;

}

.sec-eleven .div-two .child-two .img img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 140px;
    left: 20px;
}


.sec-eleven .div-two .child-two h1 {
    position: absolute;
    top: 145px;
    left: 100px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.sec-eleven .div-two .child-two p {
    position: absolute;
    top: 180px;
    left: 100px;
    font-size: 18px;
    color: #09ecbf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-eleven .div-two .child-two i {
    position: absolute;
    top: 160px;
    left: 450px;
    font-size: 60px;
    color: #61f4d4;
}

/*  end section eleven  */
/* start section twelve */

.sec-twelve {
    background-color: black;
    width: 100%;
    height: 900px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.sec-twelve .container .child-one {
    text-align: center;
}

.sec-twelve .container .child-one h2 {
    color: #5cd2b9;
    padding: 90px 0 0;
    font-size: 18px;
}

.sec-twelve .container .child-one h1 {
    padding: 20px;
    font-size: 38px;

}

.sec-twelve .container .child-one hr {
   width: 5%;
    margin-left: 740px;
    background-color: #5cd2b9;
    /* color: #5cd2b9; */
    height: 2px;
    border: none;
}

.sec-twelve .container .child-one p {
    padding: 30px;
    width: 870px;
    text-align: center;
    margin-left: 421px;
    opacity: 0.6;
}


.sec-twelve .container .child-two {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.sec-twelve .container .child-two div {
    margin: 0 10px 0;
}


.sec-twelve .container .child-two p {
    width: 350px;
    margin: 20px 0 0;
    opacity: 0.7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.sec-twelve .container .child-two h4 {
    width: 370px;
    font-size: 26px;
    font-weight: bold;
    color: #5cd2b9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-twelve .container .child-two .baby-one .icon-one {
    display: flex;
    margin: 0px;
}

.sec-twelve .container .child-two .baby-one .icon-one i {
    margin: 15px 0 0 0; 
    color: #5cd2b9;
}

.sec-twelve .container .child-two .baby-one .icon-one h1 {
    font-size: 18px;
    padding: 9px 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-twelve .container .child-two .baby-one .icon-two {
    display: flex;
    margin: 0px;
}

.sec-twelve .container .child-two .baby-one .icon-two i {
    margin: 15px 0 0 0; 
    color: #5cd2b9;
}

.sec-twelve .container .child-two .baby-one .icon-two h1 {
    font-size: 18px;
    padding: 9px 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-twelve .container .child-two .baby-one {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    opacity: 0.9;
    
}
    
    
.sec-twelve .container span {
    color: #5cd2b9;
}


/* end section or div twelve */
/* start section thirteen */

.sec-thirteen {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.sec-thirteen .son-one {
    width: 50%;
    padding: 100px 250px;
}
    
.sec-thirteen .son-one form {
    border: 1px solid #5cd2b9;
    width: 500px;
    height: 500px;


}

.sec-thirteen .son-one form .input-name {
    width: 470px;
    height: 40px;
    opacity: 0.3;
}

.sec-thirteen .son-one form .input-name-one {
    width: 470px;
    height: 40px;
    opacity: 0.3;
}  

.sec-thirteen .son-one form .input-name-two {
    width: 470px;
    height: 100px;
    opacity: 0.3;
} 


.sec-thirteen .son-one form {
    padding: 40px 10px;
    color: white;
}



.sec-thirteen .son-one form input {
    background-color: #0C0C0C;
    opacity: 0.3;
    outline: none;
    border: 1px solid #0efaee;
    
}

.sec-thirteen .son-one form textarea {
    background-color: #0C0C0C;
    opacity: 0.3;
    border: 1px solid #10e4f4;
    outline: none;
}

.sec-thirteen .son-one button {
    padding: 15px 30px 15px 30px;
    width: 400px;
    background-color: #5ce1e8;
    border: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition:  0.3s ease-in ;
}

.sec-thirteen .son-one button:hover {
    background-color: #1c1d1d;
    transform: (1.2);
    width: 460px;
}

.sec-thirteen .container {
    color: white;
    display: flex;
}
    

.sec-thirteen .container .son-two {
    width: 50%;
    padding: 120px 0px 0px 20px
}


.sec-thirteen .container .son-two .part-one h2 {
    margin: 5px 0;
    font-size: 40px;
}

.sec-thirteen .container .son-two .part-one hr {
    width: 9%;
    border: none;
    height: 2px;
    background-color: #09ecbf;
}

.sec-thirteen .container .son-two .part-one p {
    margin: 20px 0;
    width: 560px;
    opacity: 0.7;
}


.sec-thirteen .container .son-two .part-one h2 span {
    color: #5cd2b9;
}

.sec-thirteen .container .son-two .part-two .child-one {
    display: flex;
    position: relative;
    padding: 20px 0;
}

.sec-thirteen .container .son-two .part-two .child-one .baby-one{
position: absolute;
bottom: -13px;
left: 30px;
}

.sec-thirteen .container .son-two .part-two .child-one .baby i {
    font-size: 30px;
    color: #6fffe0;
}

.sec-thirteen .container .son-two .part-two .child-one .baby-one p {
    color: #5cd2b9;
    font-size: 18px;
}



.sec-thirteen .container .son-two .part-two .child-two {
    display: flex;
    position: relative;
    padding: 20px 0;
    top: 20px;
}

.sec-thirteen .container .son-two .part-two .child-two .baby-one{
    position: absolute;
    bottom: -13px;
    left: 40px;
}
    
.sec-thirteen .container .son-two .part-two .child-two .baby i {
        font-size: 30px;
        color: #6fffe0;
}

.sec-thirteen .container .son-two .part-two .child-two .baby-one p {
        color: #5cd2b9;
        font-size: 18px;
}


.sec-thirteen .container .son-two .part-two .child-three {
    display: flex;
    position: relative;
    padding: 20px 0;
    top: 40px;
}

.sec-thirteen .container .son-two .part-two .child-three .baby-one{
    position: absolute;
    bottom: -13px;
    left: 40px;
}

.sec-thirteen .container .son-two .part-two .child-three .baby i {
    font-size: 30px;
    color: #6fffe0;
}


.sec-thirteen .container .son-two .part-two .child-three .baby-one p {
    color: #5cd2b9;
    font-size: 18px;
}

/* end section thirteen */
/* start footer */


.footer {
    background-image: radial-gradient(#112722 18%, rgb(0, 0, 0), rgb(3, 3, 3));
    width: 100%;
    height: 100vh;
    color: white;

}

.footer .All {
    
    text-align: center;

}

.footer .All div {
    padding: 30px 0;
}

.footer .All .links {
    display: flex;
    
    
}

.footer .All .links  i {
    position: relative;
    top: 40px;
    left: 700px;
    color: #09ecbf;
    font-size: 22px;
    

}

.footer .All .links .baby-one {
    margin: 0 20px;
}
.footer .All .links .baby-two {
    margin: 0 20px;
}
.footer .All .links .baby-three {
    margin: 0 20px;
}
.footer .All .links .baby-four {
    margin: 0 20px;
}


.footer .All .links-one a {
    text-decoration: none;
    color: #5cd2b9;
    margin: 10px 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.footer .All .second p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 550px;
    position: absolute;
    left: 500px;
}

.footer .All .third {
    margin-top: 30px;
}







 













































    
    
   






































































    









    
    
    
    


























































    
  





